$red: #ef4e27;
$blue: #2255ef;
$sky: #47a4ef;
$green: #3bc345;
$yellow: #d8d40b;
$orange: #d87f2f;
$purple: #941fd8;
$black: #171717;
$gray: #3a3a3a;

$red-1: lighten($red, 40%);
$red-2: lighten($red, 30%);
$red-3: lighten($red, 20%);
$red-4: lighten($red, 10%);
$red-5: $red;
$red-6: darken($red, 10%);
$red-7: darken($red, 20%);
$red-8: darken($red, 30%);
$red-9: darken($red, 40%);

$blue-1: lighten($blue, 40%);
$blue-2: lighten($blue, 30%);
$blue-3: lighten($blue, 20%);
$blue-4: lighten($blue, 10%);
$blue-5: $blue;
$blue-6: darken($blue, 10%);
$blue-7: darken($blue, 20%);
$blue-8: darken($blue, 30%);
$blue-9: darken($blue, 40%);

$sky-1: lighten($sky, 40%);
$sky-2: lighten($sky, 30%);
$sky-3: lighten($sky, 20%);
$sky-4: lighten($sky, 10%);
$sky-5: $sky;
$sky-6: darken($sky, 10%);
$sky-7: darken($sky, 20%);
$sky-8: darken($sky, 30%);
$sky-9: darken($sky, 40%);

$green-1: lighten($green, 40%);
$green-2: lighten($green, 30%);
$green-3: lighten($green, 20%);
$green-4: lighten($green, 10%);
$green-5: $green;
$green-6: darken($green, 10%);
$green-7: darken($green, 20%);
$green-8: darken($green, 30%);
$green-9: darken($green, 40%);

$yellow-1: lighten($yellow, 40%);
$yellow-2: lighten($yellow, 30%);
$yellow-3: lighten($yellow, 20%);
$yellow-4: lighten($yellow, 10%);
$yellow-5: $yellow;
$yellow-6: darken($yellow, 10%);
$yellow-7: darken($yellow, 20%);
$yellow-8: darken($yellow, 30%);
$yellow-9: darken($yellow, 40%);

$orange-1: lighten($orange, 40%);
$orange-2: lighten($orange, 30%);
$orange-3: lighten($orange, 20%);
$orange-4: lighten($orange, 10%);
$orange-5: $orange;
$orange-6: darken($orange, 10%);
$orange-7: darken($orange, 20%);
$orange-8: darken($orange, 30%);
$orange-9: darken($orange, 40%);

$purple-1: lighten($purple, 40%);
$purple-2: lighten($purple, 30%);
$purple-3: lighten($purple, 20%);
$purple-4: lighten($purple, 10%);
$purple-5: $purple;
$purple-6: darken($purple, 10%);
$purple-7: darken($purple, 20%);
$purple-8: darken($purple, 30%);
$purple-9: darken($purple, 40%);

$black-1: lighten($black, 40%);
$black-2: lighten($black, 30%);
$black-3: lighten($black, 20%);
$black-4: lighten($black, 10%);
$black-5: $black;
$black-6: darken($black, 10%);
$black-7: darken($black, 20%);
$black-8: darken($black, 30%);
$black-9: darken($black, 40%);
